@import './src/styles/colors';
@import './src/styles/fonts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;

    background: $color-body-bg;
}

.screen {
    height: 100vh;

    padding-left: calc(50% - 488px);
    padding-right: calc(50% - 488px);

    &-difficult,
    &-end-game {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.screen-difficult_hidden,
.screen-play_hidden,
.screen-end-game_hidden,
.end-game__image-win_hidden,
.end-game__image-lose_hidden {
    display: none;
}

.block {
    width: 480px;
    height: 459px;

    background: $color-block-bg;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;

        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: $color-block-title;
    }

    &__text {
        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: $color-block-text;
    }

    &__time {
        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;

        color: $color-block-text;
    }
}

.button-start {
    width: 246px;
    height: 50px;

    outline: none;
    border: none;
    border-radius: 12px;

    font-family: 'StratosSkyeng', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-feature-settings: 'pnum' on, 'lnum' on;

    background: $color-button-start-bg;
    color: $color-button-start-text;

    &:hover {
        transform: scale(1.02);
    }
}

.difficult {
    &__title {
        width: 208px;
        height: 96px;

        margin-top: 52px;
    }

    &__field-buttons {
        display: flex;
        gap: 24px;

        margin-top: 48px;
        margin-bottom: 67px;
    }

    &__button-level {
        width: 96px;
        height: 98px;

        border-radius: 12px;
        border: none;

        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: $color-button-level-bg;
        color: $color-button-level-text;

        &:hover {
            outline: 2px solid $color-button-level-hover;
        }

        &_select {
            outline: 2px solid $color-button-level-hover;
        }

        &_alert {
            outline: 2px solid $color-button-level-alert;
        }
    }
}

.header {
    height: 100px;

    margin-top: 22px;
    margin-bottom: 46px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__timer-field {
        width: 150px;
        height: 90px;
    }

    &__timer-field-text {
        display: flex;
        justify-content: flex-end;
        gap: 57px;
    }

    &__timer-text {
        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        font-feature-settings: 'pnum' on, 'lnum' on;

        color: $color-timer-text;
    }

    &__timer-scale {
        font-family: 'StratosSkyeng', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;

        color: $color-timer-text;
    }
}

.screen-play {
    &__field-play {
        height: 75%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__block-cards {
        width: 645px;
        height: 100%;

        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        gap: 15px;
        row-gap: 15px;
    }
}

.card {
    width: 95px;
    height: 133px;

    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $color-card-bg;

    &:hover {
        transform: scale(1.03);
    }
}

.end-game {
    &__field-images {
        height: 131px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        height: 48px;

        margin-bottom: 28px;
    }

    &__text {
        height: 32px;

        margin-bottom: 10px;
    }

    &__time {
        width: 155px;
        height: 72px;

        margin-bottom: 40px;
    }
}
