$color-body-bg: #004980;
$color-block-message-bg: #C2F5FF; 
$color-block-message-title: #004980;
$color-button-level-bg: #FFFFFF;
$color-button-level-text: #0080C1;
$color-green-button-bg: #7AC100;
$color-green-button-text: #FFFFFF;

